@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root {
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passions Conflict', cursive;
    --fonte3: 'Sigmar', cursive;

}

body {
    font-family: var(--fonte3);
}

